/* styles for 300px */
.verticalNav {
    border-radius: 5px;
    list-style-type: none;
    margin: 0.5rem;
    padding: 0.3rem;
    border: 1px solid  #9aacc6;
}
.verticalNav li {
    letter-spacing: 0.01rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin: 0.3rem;
    padding: 0.2rem 0.5rem;
    font-weight: 500;
    border: 1px solid #9aacc6;
}
.verticalNav li:hover {
    cursor: pointer;
    color: #fbf189;
}
.liIcon {
    margin-right: 0.5rem;
}
.nav {
    margin: 0.2rem;
    padding: 0.2rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid  #fbf189; */
}
.logo {
    object-fit: cover;
    filter: contrast(120%);
    width: 11rem;
    height: 3rem;
}
.icon:hover {
    cursor: pointer;
}
.horizontalBox {
    display: none;
}
.iconsBox {
    display: flex;
    justify-content: space-around;
    /* border-bottom: 1px solid   #fbf189; */
    width: 5rem;
}
/* styles for 1200px */

@media screen and (min-width: 1200px){
    .iconsBox {
        display: none;
    }
    .nav {
        margin: 0.3rem;
        padding: 0 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid   #fbf189;
    }
    .horizontalBox {
        display: flex;
        flex-direction: column;
        /* border: 1px solid  #9aacc6; */
    }
    .horizontalNav {
        display: flex;
        justify-content: space-evenly;
        margin: 0.4rem;
        list-style-type: none;
        padding: 0.3rem;
        /* border: 1px solid  #9aacc6; */
    }
    .horizontalNav li {
        border-radius: 5px;
        font-weight: 500;
        border: 1px solid  #9aacc6;
        margin: 0.3rem;
        padding: 0.2rem 0.7rem;
    }
    .horizontalNav li:hover {
        cursor: pointer;
        color: #fbf189;
    }
    .logo {
        width: 19rem;
        height: 5rem;
        filter: contrast(110%);
        object-fit: cover;
    }
}