/* styles for 300px */
.parent {

    margin: 0.5rem;
    /* border: 1px solid  #9aacc6; */
    /* box-shadow: 0 0 3px aqua; */
    display: flex;
    flex-direction: column;
}
.slide1 {
    border-radius: 5px;
    padding: 0.5rem;
    border: 1px solid  #9aacc6;
}
.slide1 p {
    padding: 0.3rem;
    text-align: center;
}
.slide2 {
    margin: 0.2rem;
    /* border: 5px solid  #7e0cc4; */
}
.header {
    margin-bottom: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 10rem; */
}
.header span {
    letter-spacing: 0.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
}
.image {
    border-radius: 5px;
    width: 100%;
    /* border: 5px solid  deeppink; */
    height: 15rem;
    object-fit: cover;
    filter: contrast(120%);
}
/* styles for 1200 */

@media screen and (min-width: 1200px) {
    .parent {
        box-shadow: 0 0 3px aqua;
        margin: 0.5rem;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        /* border: 1px solid  #9aacc6; */
    }
    .slide1 {
        border-radius: 10px;
        padding: 0.8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-color: deeppink; */
        border: 1px solid  #9aacc6;
        width: 45%;
        height: 18rem;
    }
    .slide1 p {
        font-size: 1.1rem;
    }
    .slide2 {
        display: flex;
        justify-content: center;
        padding: 0.5rem;
        /* border: 5px solid  #36d809; */
        width: 50%;
    }
    .image {
        border-radius: 10px;
        width: 40rem;
        /* border: 5px solid  deeppink; */
        height: 20rem;
        object-fit: cover;
        filter: contrast(120%);
    }
    .header {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        /* height: 10rem; */
    }
    .header span {
        letter-spacing: 0.1rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 700;
        font-size: 2rem;
    }
}
